@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

q{
	font-style: italic;
}

[epub|type~="contributors"]{
	font-style: italic;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

/* Begin figures */
figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}

figure.full-page{
	break-after: page;
	break-before: page;
}
/* end figures */

/* Begin Letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end letters */

/* Begin Poems etc. */
[epub|type~="z3998:poem"],
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

p span.i7{
	padding-left: 8em;
	text-indent: -1em;
}
/* end poems etc. */

/* blocklevel lang italics */
blockquote[xml|lang]{
	font-style: italic;
}
/* end blocklevel lang italics */

/* Begin Bespoke styling */
/* Begin Alicia's Diary diary rules */
blockquote[epub|type~="z3998:diary-entry"]{
	margin: 0;
}

blockquote[epub|type~="z3998:diary-entry"] + blockquote[epub|type~="z3998:diary-entry"]::before{
	border-top: 1px solid;
	content: "";
	display: block;
	height: 0;
	margin: 1.5em auto;
	width: 25%;
}
/* end diary rules */

#an-imaginative-woman blockquote header p{
	text-transform: uppercase;
}

#interlopers-at-the-knap blockquote header p{
	text-align: initial;
}

#master-john-horseleigh-knight blockquote p,
#interlopers-at-the-knap blockquote header p span{
	font-style: italic;
}

#the-distracted-preacher ul{
	break-inside: avoid;
	column-gap: 2em;
	columns: 3;
	list-style: none;
}

#the-distracted-preacher ul:nth-of-type(2){
	columns: 2;
}

#the-distracted-preacher blockquote{
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
}

#the-distracted-preacher blockquote footer{
	text-align: center;
}

#the-grave-by-the-handpost blockquote:nth-of-type(2) p{
	font-variant: small-caps;
}

#the-three-strangers blockquote:first-of-type p{
	font-variant: all-small-caps;
}

#the-three-strangers blockquote:first-of-type p span{
	font-variant: normal;
	text-transform: lowercase;
}
/* end bespoke styling */
